/* Nav Style */

nav {
  width: 100%;
  background: linear-gradient(to left, #09c4a4 0%, #049277 100%);
  height: 80px; /* ارتفاع الناف */
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

nav img {
  width: 213px;
  object-fit: cover;
}

/* اسم الموقع */
.nav-logo h2 {
  margin: 0;
  font-size: 1.6rem;
  color: #333;
}

/* قائمة الروابط */
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: -webkit-fill-available;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

/* أزرار القائمة داخل الناف */
.nav-menu li{
    font-size: large;
  color: #fff; /* لون النص الأساسي */
  font-weight: 600;
  cursor: pointer;
  padding: 10px 25px;
  transition: all 0.3s ease;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

/* عند تمرير الماوس */
.nav-menu li:hover {
  /* background: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.4); */
  transform: translateY(-2px);
}

/* عند النقر */
.nav-menu li:active {
  transform: scale(0.95);
}

/* خط تحتي عند التمرير */
.nav-menu li::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-menu li:hover::after {
  width: 60%;
}

/* زر مفعّل (الصفحة الحالية) */
.nav-menu li.active {
  background: linear-gradient(135deg, #ffffff33, #ffffff66);
  border-color: rgba(255, 255, 255, 0.6);
  color: #fff;
}

.divider {
    /* يجب أن يكون معروضاً كعنصر داخلي لمنعه من أخذ سطر جديد */
    display: inline-block; 
    
    /* تحديد العرض والارتفاع ولون الحد لجعله خطاً */
    width: 1px; 
    height: 20px; /* ليتناسب مع ارتفاع النص */
    background-color: #fff; /* لون الخط الفاصل */
    
    /* إضافة مسافة حول الفاصل */
    margin-top: 15px; 
    
    /* لمنع قراءة العنصر الفاصل من قبل قارئات الشاشة (مهم لإمكانية الوصول) */
    overflow: true; 
}

@media(max-width: 768px){
  nav img{
    width: 120px;
  }

  .nav-menu{
    gap: 10px;
  }

  .nav-menu li{
    padding: 10px 0px;
    font-size: medium;
  }

  .slide {
    height: 280px;
    }

}