/* global styles start */

@font-face {
    font-family: "lantx";
    /* src: url(../plugins/fonts/alfont_com_LANTX-Regular.otf) format("opentype"); */
    src: url(../plugins/fonts/AM-ZAIN-ORIGINAL.ttf) format("opentype");
    unicode-range: U+0600-06FF, U+2000-206F;
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #07ae91;
    --secondary-color: #1F2A3D;
    --text-color: #000000;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
     font-family: "lantx", Poppins, Arial, sans-serif;
}

a, button {
    transition: .3s;
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    padding: 0 4%;
}

input {
    width: 100%;
    border: 0;
    background-color: #fff;
    color: var(--text-color);
}


input:focus {
    outline: none;
}

.container {
    padding: 0 4%;
}